*
!backend
!Dockerfile
!frontend
!clients
!clients/go_tool_interface
!clients/go_integration_interface
!clients/integrations
!clients/integrations/mcp_integration
!clients/integrations/rest_api_tool_integration
