[submodule "frontend"]
	path = frontend
	url = https://github.com/msgmate-io/open-chat-go-frontend
[submodule "development/helm"]
	path = development/helm
	url = https://github.com/msgmate-io/open-chat-go-helm-chart
