[submodule "frontend"]
	path = frontend
	url = https://github.com/msgmate-io/open-chat-go-frontend
[submodule "clients/oc_python_client"]
	path = clients/oc_python_client
	url = https://github.com/msgmate-io/open-chat-go-python-client
[submodule "clients/go_tool_interface"]
	path = clients/go_tool_interface
	url = https://github.com/msgmate-io/open-chat-go-tool-interface
[submodule "clients/go_integration_interface"]
	path = clients/go_integration_interface
	url = https://github.com/msgmate-io/open-chat-go-integration-interface.git
[submodule "clients/js_client"]
	path = clients/js_client
	url = https://github.com/msgmate-io/open-chat-go-js-client
[submodule "development/build-tools"]
	path = development/build-tools
	url = https://github.com/msgmate-io/open-chat-go-build-tools.git
