[submodule "frontend"]
	path = frontend
	url = https://github.com/msgmate-io/open-chat-go-frontend
[submodule "backend/api/federation"]
	path = backend/api/federation
	url = https://github.com/msgmate-io/open-chat-go-federation
